<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../css/style.css">
  
  <title>Exercício</title>
  
</head>

  <body>

  <h2 id="titulo"></h2>
  <p id="enunciado"></p>

  <div id="imagem">[imagem do exercício aqui]</div>

  <div id="alternativas"></div>

  <button id="verificar">Verificar resposta</button>
  <p id="resultado"></p>

  <script src="../js/script.js"></script>
</body>
</html>
