<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbstroLab - Trilha de Exercícios</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        
    </header>

    <section class="trilha" id="trilha">
        <h1>Escolha seu exercício</h1>
        <div class="bolinhas-container" id="bolinhas-container">
            <!-- As bolinhas (botões) vão aparecer aqui via JavaScript -->
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2025 AbstroLab. Todos os direitos reservados.</p>
    </footer>
</body>
<script src="/js/trilha.js"></script>
</html>
