* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #f8c6d2, #e0f7fa);
    color: #333;
    text-align: center;
    padding: 50px 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: -1.2cm;
    background: linear-gradient(to right, #fb053e77, #06e2ff57);
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    color: #5d6a79;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.abstrolab-link {
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .abstrolab-link {
        font-weight: bold;
        color: #ffffff;
        font-size: 21px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 70px;
        right: 0;
        padding: 20px;
        width: 100%;
        border-radius: 10px;
        gap: 20px;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: 0.3s;
    }
}
.hero {
    background: linear-gradient(to right, #f8c6d2, #e0f7fa);
    color: #33333314;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #5d6a79;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #5d6a79;
}

.entrarBtn, .btnCadastro, .btn-primary, .btn-secondary, .btn {
    padding: 12px 25px;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: transform 0.3s ease;
    font-weight: lighter;
}

.entrarBtn, .btnCadastro, .btn-primary {
    background-color: #ffb3b3;
}

.btn-secondary {
    background-color: #c1e1e6;
    margin-left: 10px;
}

.entrarBtn:hover, .btnCadastro:hover, .btn-primary:hover, .btn-secondary:hover, .btn:hover {
    transform: scale(1.1);
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 40px auto;
    padding: 20px 0;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.feature-card {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 30px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.feature-card i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffb3b3;
}

.feature-card h3 {
    font-size: 26px;
    color: #5d6a79;
    margin-bottom: 15px;
}

.feature-card p {
    font-size: 16px;
    color: #5d6a79;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 15px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.footer {
    bottom: 0;
    width: calc(100% - 40px);
    margin: 0 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #ebe7e7;
        animation: fadeIn 1s ease-in-out;
        position: absolute;
        top: 70px;
        right: 0;
        padding: 20px;
        width: 100%;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hamburger .bar {
        background-color: white;
    }

    .hero {
        padding: 60px 20px;
    }

    .feature-card {
        padding: 20px;
        margin: 0 10px;
    }

    .main-container {
        flex-direction: column;
    }

    .card, .cardLogin {
        width: 100%;
        margin-bottom: 20px;
    }

    .input-group input {
        padding: 35px;
    }

    .btn {
        font-size: 1rem;
        padding: 10px;
    }

    h2 {
        font-size: 1.4rem;
    }
}

/* ARQUIVO DE CADASTRO */
body {
    background-color: #f4f4f4;
    padding-top: 50px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    animation: slideIn 0.8s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.card, .cardLogin {
    width: 48%;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: cardFadeIn 1s ease-in-out;
}

@keyframes cardFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-body, .cardLogin-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainTitle {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-top: 2cm;
    animation: slideIn 1s ease-in-out;
}

h2 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.LoginTitle h2 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
}

.gender-options {
    display: flex;
    gap: 15px;
    font-size: 1rem;
    color: #333;
    justify-content: center;
    margin-top: 10px;
}

.gender-options label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}

.gender-input {
    margin-right: 5px;
    transform: scale(1.2);
}

.gender-input:focus {
    outline: none;
    border-color: #ff7f7f;
}

.input-group .input-icon {
    font-size: 1.4rem;
    margin-right: 10px;
    color: #ff7f7f;
}

.input-group label {
    font-size: 1rem;
    color: #333;
    display: flex;
    align-items: center;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.input-group input:focus {
    border-color: #ff7f7f;
    transform: scale(1.05);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #ff7f7f;
    font-size: 1.4rem;
}
/* Responsividade forms */
@media (max-width: 768px) {
    .input-group {
        width: 100%;
    }
    .input-group input {
        padding-left: 40px;
    }
    .main-container {
        flex-direction: column;
    }
    .card, .cardLogin {
        width: 100%; 
    }
    .gender-options {
        flex-direction: column;
    }
}

.btn {
    background-color: #ff7f7f;
    color: #fff;
    border-radius: 30px;
    padding: 12px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
}

.line-divider {
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin: 20px 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.d-flex label {
    font-size: 1rem;
}

.d-flex input[type="radio"] {
    margin-right: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
}
