<header>
  <nav class="navbar">
    <div class="logo">
      <a href="../views/index.html">
        <img src="../views/logoV01.png" style="width: 150px; height: 75px;"  >
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="../views/index.html">Início</a></li>
      <li><a href="#funcionalidades">Funcionalidades</a></li>
      <li><a href="../views/sobre.html">Sobre</a></li>
      <li><a href="#depoimentos">Depoimentos</a></li>
      <li><a href="../views/contato.html">Contato</a></li>
    </ul>
    <div class="hamburger" id="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </nav>
</header>
