<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicios</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section class="trilha" id="trilha">
        <h1>Escolha seu exercício</h1>
        <div class="bolinhas-container" id="bolinhas-container" style="display: flexbox; flex-direction: row;">
            <!-- As bolinhas (botões) vão aparecer aqui via JavaScript -->
        </div>
    </section>

    <script src="../js/trilha.js"></script>
    <script src="../js/script.js"></script>
    
</body>
</html>
